<ion-card>
  <ion-card-header color="primary" ion-item>
    <ion-icon name="print" item-start></ion-icon>
    Yazıcı
    <button (click)="openPrinterFormPage()" ion-button icon-only clear item-end>
      <ion-icon color="light" name="create"></ion-icon>
    </button>

    <button (click)="showPrinterDeletionWarning()" ion-button icon-only clear item-end>
      <ion-icon color="light" name="trash"></ion-icon>
    </button>
  </ion-card-header>

  <ion-card-content style="margin-top: 5px">
    <ion-list no-lines>
      <ion-item>
        <ion-label>Tür</ion-label>
        <ion-label>{{ printer.type }}</ion-label>
      </ion-item>

      <ion-item>
        <ion-label>Model</ion-label>
        <ion-label>{{ printer.model }}</ion-label>
      </ion-item>

      <ion-item>
        <ion-label>Durum</ion-label>
        <ion-label>{{ printer.state }}</ion-label>
      </ion-item>
    </ion-list>
  </ion-card-content>
</ion-card>