<ion-card>
  <ion-card-header color="primary" ion-item>
    <ion-icon name="barcode" item-start></ion-icon>
    Barkod Okuyucu
    <button (click)="openBarcodeReaderFormPage()" ion-button icon-only clear item-end>
      <ion-icon color="light" name="create"></ion-icon>
    </button>

    <button (click)="showBarcodeReaderDeletionWarning()" ion-button icon-only clear item-end>
      <ion-icon color="light" name="trash"></ion-icon>
    </button>
  </ion-card-header>

  <ion-card-content style="margin-top: 5px;">
    <ion-list no-lines>
      <ion-item>
        <ion-label>Model</ion-label>
        <ion-label>{{ barcodeReader.model }}</ion-label>
      </ion-item>
    </ion-list>
  </ion-card-content>
</ion-card>